@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Han+Sans&family=Bowlby+One&family=Dela+Gothic+One&family=Montserrat+Subrayada:wght@400;700&family=Oswald:wght@200..700&family=Rowdies:wght@300;400;700&display=swap');

.impact-font {
  font-family: 'Impact', 'CircularStd', 'Oswald', sans-serif !important;
  font-weight: bold !important;
  font-style: italic !important;
  letter-spacing: 0.05em !important;
  text-transform: uppercase !important;
}

.banner-swiper .swiper-pagination {
  text-align: right;
  padding-right: 10px;
  bottom: 10px;
}

.banner-swiper .swiper-pagination-bullet {
  margin: 0 4px;
  width: 6px;
  height: 6px;
  background-color: #544026 !important;
  opacity: 0.5;
  filter: blur(1px);
  transition: all 0.3s ease;
}

.banner-swiper .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  opacity: 1;
  filter: none;
  background-color: #544026 !important;
}

.providers-1-swiper .swiper-slide {
  width: 140px !important;
  height: 80px !important;
}
@media (max-width: 600px) {
  .providers-1-swiper .swiper-slide {
    width: 100px !important;
    height: 70px !important;
  }
}

.top-games-swiper .swiper-slide {
  width: 180px !important;
  height: 240px !important;
}
@media (max-width: 600px) {
  .top-games-swiper {
    max-height: 210px !important;
  }
  .top-games-swiper .swiper-slide {
    width: 140px !important;
    height: 200px !important;
  }
}

.other-games-swiper {
  max-height: 240px !important;
}
.other-games-swiper .swiper-slide {
  width: 180px !important;
  height: 240px !important;
}
@media (max-width: 600px) {
  .other-games-swiper {
    max-height: 200px !important;
  }
  .other-games-swiper .swiper-slide {
    width: 140px !important;
    height: 200px !important;
  }
}

.top-games-swiper .swiper-button-prev,
.top-games-swiper .swiper-button-next {
  color: #fff;
  border: 1px solid #caae51;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-games-swiper .swiper-button-prev:after,
.top-games-swiper .swiper-button-next:after {
  color: #caae51;
}

.other-games-swiper .swiper-button-prev,
.other-games-swiper .swiper-button-next {
  color: #fff;
  border: 1px solid #caae51;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.other-games-swiper .swiper-button-prev:after,
.other-games-swiper .swiper-button-next:after {
  color: #caae51;
}

@media (min-width: 900px) {
  .top-games-swiper .swiper-button-prev,
  .top-games-swiper .swiper-button-next {
    width: 24px;
    height: 24px;
  }
  .top-games-swiper .swiper-button-prev:after,
  .top-games-swiper .swiper-button-next:after {
    font-size: 12px;
  }
}

@media (max-width: 899px) {
  .top-games-swiper .swiper-button-prev,
  .top-games-swiper .swiper-button-next {
    width: 30px;
    height: 30px;
  }
  .top-games-swiper .swiper-button-prev:after,
  .top-games-swiper .swiper-button-next:after {
    font-size: 14px;
  }
}

@media (min-width: 900px) {
  .other-games-swiper .swiper-button-prev,
  .other-games-swiper .swiper-button-next {
    width: 24px;
    height: 24px;
  }
  .other-games-swiper .swiper-button-prev:after,
  .other-games-swiper .swiper-button-next:after {
    font-size: 12px;
  }
}

@media (max-width: 899px) {
  .other-games-swiper .swiper-button-prev,
  .other-games-swiper .swiper-button-next {
    width: 30px;
    height: 30px;
  }
  .other-games-swiper .swiper-button-prev:after,
  .other-games-swiper .swiper-button-next:after {
    font-size: 14px;
  }
}

.top-games-swiper .swiper-button-prev {
  left: 0;
}

.top-games-swiper .swiper-button-next {
  right: 0;
}

.other-games-swiper .swiper-button-prev {
  left: 0;
}

.other-games-swiper .swiper-button-next {
  right: 0;
}

.providers-swiper .swiper-button-prev,
.providers-swiper .swiper-button-next {
  color: #fff;
  border: 1px solid #caae51;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100%;
  transform: translateY(-50%);
}

.providers-swiper .swiper-button-prev:after,
.providers-swiper .swiper-button-next:after {
  color: #caae51;
}

@media (min-width: 900px) {
  .providers-swiper .swiper-button-prev,
  .providers-swiper .swiper-button-next {
    width: 24px;
    height: 24px;
  }
  .providers-swiper .swiper-button-prev:after,
  .providers-swiper .swiper-button-next:after {
    font-size: 12px;
  }
}

@media (max-width: 899px) {
  .providers-swiper .swiper-button-prev,
  .providers-swiper .swiper-button-next {
    width: 30px;
    height: 30px;
  }
  .providers-swiper .swiper-button-prev:after,
  .providers-swiper .swiper-button-next:after {
    font-size: 14px;
  }
}

.providers-swiper .swiper-button-prev {
  left: 0;
}

.providers-swiper .swiper-button-next {
  right: 0;
}

.oswald-font {
  font-family: 'Oswald', sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal;
}

.nunito-font {
  font-family: 'Nunito', sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 900 !important;
  font-style: normal;
}

.archivo-font {
  font-family: 'Archivo Black', sans-serif !important;
  font-weight: 400 !important;
  font-style: normal;
}

.bold-font {
  font-family: 'Rowdies', serif !important;
  font-weight: 400 !important;
  font-style: normal;
}
/*--Button Area Start--*/
.cmn-btn {
  position: absolute;
  border-radius: 5px;
  background: linear-gradient(80.92deg, #81cd34 -7.62%, #00a182 105.55%);
  transition: all ease 1s;
  width: fit-content;

  &:hover {
    background: linear-gradient(80.92deg, #00a182 -7.62%, #81cd34 105.55%);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  }
}

.active {
  background-color: #052129 !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.overlay {
  background-repeat: no-repeat;
  background-position:
    top 5px right 199px,
    top 95px right 170px;
  position: relative;
  background-size: auto;
  overflow: hidden;

  img {
    position: absolute;
  }

  .obj-1 {
    left: 3%;
    top: calc(5%);
    animation: ripple2Ani 4s linear infinite;
  }

  .obj-2 {
    left: 9%;
    bottom: calc(40%);
    animation: rippleAni 3s linear infinite;
  }

  .obj-3 {
    left: 2%;
    bottom: calc(25%);
    animation: ripple2Ani 4s linear infinite;
  }

  .obj-4 {
    left: 9%;
    bottom: calc(10%);
    animation: spin 35s linear infinite;
  }

  .obj-5 {
    right: 6%;
    top: calc(12%);
    animation: ripple2Ani 4s linear infinite;
  }

  .obj-6 {
    right: 5%;
    top: calc(35%);
    animation: rippleAni 4s linear infinite;
  }

  .obj-7 {
    right: 1%;
    bottom: calc(9%);
    animation: spin 30s linear infinite;
  }
}

.simplebar-track {
  z-index: 9999;
}

/*  Animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes ripple2Ani {
  0% {
    transform: translate(0px, 0px);
  }

  33% {
    transform: translate(-5px, -5px);
  }

  66% {
    transform: translate(5px, 5px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes rippleAni {
  0% {
    transform: translate(0px, 0px);
  }

  33% {
    transform: translate(5px, -5px);
  }

  66% {
    transform: translate(-5px, 5px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #e8bb27bd;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff14;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

/* Jackpot CSS */

.jackpot-border {
  padding: 1px;
  position: relative;
  border-radius: 10px;
  background: linear-gradient(to left, #00bf4f, #cd6b6b);
}

.jackpot-gw-content,
.jackpot-gw--full-content,
.tt-card-wrapper {
  /* background: linear-gradient(90deg, rgba(8, 51, 55, 1) 0%, rgba(9, 113, 121, 1) 35%, rgb(44 151 146) 100%) !important; */
  border-radius: 10px !important;
  background-image: url('../images/jackpot_bg.png') !important;
  background-color: #186269 !important;
}

.jackpot-total-price--full {
  order: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 300px;
  border-radius: 8px;
  background: url('../images/banner-4.jpg') !important;
  background-size: cover !important;
}

.jackpot-gw--full-content-jackpots {
  height: 300px;
}

.jackpot-gw--full-item--vertical .jackpot-gw--full-item-display {
  justify-content: center;
}

.jackpot-gw-item-display,
.jackpot-gw--full-item-display {
  background-color: #083d42 !important;
}

.jackpot-gw-item-details,
.jackpot-gw--full-item-details {
  background-color: #094e53 !important;
}

.jackpot-gw-item-details-info-pill,
.jackpot-gw--full-item-details-info-pill {
  background-color: #095b62 !important;
}

.jackpot-gw-image-wrapper {
  background: linear-gradient(to right, red, orange) !important;
  left: -3px !important;
  padding: 1px;
  /*border: 2px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  */border-radius: 50px !important;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
}

.jackpot-gw-content--vertical {
  min-height: 370px !important;
}

/* start tournament */

.tt-card-wrapper {
  background: #1b351b !important;
  border-radius: 10px !important;
  border: 2px solid #664401 !important;
}

.tt-details-wrapper {
  border-radius: 10px !important;
  border: 2px solid #664401 !important;
  background: #1b351b !important;
}

.tt-compact-view {
  min-height: 547px !important;
  border-radius: 10px !important;
  background: #1b351b !important;
}

.tt-cv-head .tt-cv-wrapper {
  height: 100% !important;
  justify-content: flex-start;
  background: url('../images/news4.png') no-repeat;
  background-size: contain;
  background-position: 0 230px;

  .tt-cv-item-1 {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 768px) {
  .tt-cv-head .tt-cv-wrapper {
    background: transparent !important;
  }
}

.tt-leaderboard-row {
  background-color: #488248 !important;
  color: #000 !important;
}

#tournament-App .tt-leaderboard-row--highlighted {
  background-color: #315731 !important;
  color: #fff !important;
}

#tournament-App .tt-cv-btn:after,
.tt-cv-selector-thumb {
  background: #0eff00 !important;
}

.tt-cv-timestamp {
  color: #fffa0c !important;
  text-transform: capitalize !important;
}

/* end tournament */

.webet-card {
  position: relative;
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
}

.webet-card:hover {
  transition-duration: 150ms;
  box-shadow: 0 5px 20px 5px #00000044;
}

.img3d {
  --a: 8deg;
  /* control the angle of rotation (the smaller, the better) */
  width: 250px;
  aspect-ratio: 1;
  border-radius: 20px;
  transform: perspective(400px) rotate3d(var(--r, 1, -1), 0, calc(var(--i, 1) * var(--a)));
  transition: 0.5s;
  cursor: pointer;
}

.alt3d {
  --r: 1, 1;
  -webkit-mask: linear-gradient(45deg, #000c 40%, #000, #000c 60%) 0 100%/250% 250%;
}

.img3d:hover {
  --i: -1;
  -webkit-mask-position: 0 0;
}

.alt3d:hover {
  -webkit-mask-position: 100% 0;
}

.heartbeat {
  -webkit-animation: heartbeat 3s ease-in-out infinite both;
  animation: heartbeat 3s ease-in-out infinite both;
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.game-loading {
  width: 100px;
  margin: auto;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg, rgba(255, 255, 255, 0.5) 30%, #ffffff00 0 70%, rgb(255, 255, 255) 0) 50%/8%
      100%,
    linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.25) 30%,
        #ffffff00 0 70%,
        rgba(255, 255, 255, 0.75) 0
      )
      50%/100% 8%;
  background-repeat: no-repeat;
  animation: s3 1s infinite steps(12);
}

.game-loading::before,
.game-loading::after {
  content: '';
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.game-loading::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}

/* Phone Number */

.react-international-phone-input-container {
  height: 54px;
}

.react-international-phone-country-selector {
  min-width: 46px;
  height: 100%;

  > button {
    height: 100%;
    background: transparent;
    border-color: #215157;
  }

  > button:hover {
    background: #186269 !important;
  }
}

.react-international-phone-input {
  width: 100%;
  height: 100% !important;
  background: transparent !important;
  border-color: #215157 !important;
  color: #fff !important;
}

.react-international-phone-country-selector-dropdown {
  z-index: 99999 !important;
  background: #215157 !important;
  color: #fff;
}

.react-international-phone-country-selector-dropdown__list-item--focused {
  background: #00b8d9 !important;
}

.notistack-SnackbarContainer {
  z-index: 99999999 !important;
}

.notistack-MuiContent {
  border: 1px solid #30b1c4 !important;
}

/* typeing */
.dot {
  border-radius: 9999px;
  height: 0.5rem;
  width: 0.5rem;

  background: rgba(148 163 184 / 1);
  opacity: 0;
  animation: blink 1s infinite;
}
.dot:nth-child(1) {
  animation-delay: 0.3333s;
}
.dot:nth-child(2) {
  animation-delay: 0.6666s;
}
.dot:nth-child(3) {
  animation-delay: 0.9999s;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

.border-gradient-1 {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #00f3ff, #6ccc32) 1;
}

/* 3d button */
.button-3d {
  position: relative !important;
  width: auto !important;
  display: inline-block !important;
  color: #ecf0f1 !important;
  /* text-decoration: none !important; */
  /* border-radius: 5px !important; */
  border: solid 1px #e6be69 !important;
  /* background: #e67e22 !important; */
  text-align: center !important;
  /* padding: 10px 18px 8px !important; */
  /* margin: 12px !important; */

  -webkit-transition: all 0.1s !important;
  -moz-transition: all 0.1s !important;
  transition: all 0.1s !important;

  /* -webkit-box-shadow: 0px 3px 0px #e6be69 !important;
  -moz-box-shadow: 0px 3px 0px #e6be69 !important;
  box-shadow: 0px 3px 0px #e6be69 !important; */
}

.button-3d:active {
  /* -webkit-box-shadow: 0px 2px 0px #e6be69 !important;
  -moz-box-shadow: 0px 2px 0px #e6be69 !important;
  box-shadow: 0px 2px 0px #e6be69 !important; */
  position: relative !important;
  top: 4px !important;
}

.min-effect {
  animation: sport-min-effect 2s infinite linear;
}

@keyframes sport-min-effect {
  0%,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.text-3d {
  color: #fff;
  /* font-size: calc(1em + 20vw); */
  font-weight: 900;
  text-shadow:
    -0.0075em 0.0075em 0 #fef2f6,
    0.005em 0.005em 0 #afafaf,
    0.01em 0.01em 0 #cbcbcb,
    0.015em 0.015em #9d9d9d,
    0.02em 0.02em 0 #b7b7b7,
    0.025em 0.025em 0 #c3c3c3,
    0.03em 0.03em 0 #adadad,
    0.035em 0.055em 0 #9f9f9f;
}
